.mg-file-counter {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 1.25rem;
  font-size: 1rem;
}
.mg-file-description {
  font-weight: 400;
}
.mg-file-count {
  margin: 0 0 0 0.35rem;
}
