.dropzone {
  display: flex;
  flex-direction: column;
  margin: 1.25rem;
}

.dropzone__field {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5rem;
  border-width: 2px;
  border-radius: 2px;
  border-color: #6d99fd;
  border-style: dashed;
  background-color: #ddf3fb;
  color: #6d99fd;
  outline: none;
  transition: border 0.24s ease-in-out;
}

.dropzone__text {
  width: 100%;
  text-align: center;
  margin: 0;
}

.dropzone__tumbs-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.dropzone__tumbs-container:not(:empty) {
  margin-top: 1.25rem;
}

.dropzone__thumb {
  display: inline-flex;
  border-radius: 2px;
  border: 1px solid #eaeaea;
  margin-bottom: 0.5rem;
  width: 6.25rem;
  height: 6.25rem;
  padding: 0.25rem;
  margin: 0.25rem;
  box-sizing: border-box;
}

.dropzone__thumb-inner {
  display: flex;
  min-width: 0;
  overflow: hidden;
}

.dropzone__thumb-image {
  display: block;
  width: auto;
  height: 100%;
}
