.images-receiver__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.images-receiver__form-item.MuiInputBase-root,
.images-receiver__form-item.MuiTextField-root,
.images-receiver__form-item.MuiButton-root {
  margin-top: 20px;
  width: 100%;
}