.images-location__title {
  text-align: center;
}

.images-location__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.images-location__form-item.MuiFormControl-root,
.images-location__form-item.MuiTextField-root,
.images-location__form-item.MuiButton-root {
  margin-top: 1.25rem;
  width: 100%;
}

#images-location-bucket-name,
#images-location-datasets {
  transform: translate(0.875rem, 1.25rem);
}

#images-location-bucket-name[data-shrink="true"],
#images-location-datasets[data-shrink="true"] {
  transform: translate(0.875rem, -0.375rem);
  font-size: 0.75rem;
}
