@import '../../../variables.scss';

.mg-dropzone {
  display: flex;
  flex-direction: column;
  margin: 1.25rem;
}

.mg-thumbs-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 0.5rem;
}

.mg-thumb {
  display: inline-flex;
  border-radius: 2px;
  border: 1px solid $border-color;
  width: 6.25rem;
  height: 6.25rem;
  padding: 0.25rem;
  margin: 0.25rem;
  box-sizing: border-box;
}

.mg-thumb-image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
