.task-statuses {
    margin-top: 2.5rem;
    margin-left: auto;
    margin-right: auto;
    width: 80vw;
}

.task-status-saved > td {
    background-color: #e8f5e9;
}

.task-status-saved:hover > td {
    background-color: #e3f2e4 !important;
}