.task-statuses {
  margin-left: auto;
  margin-right: auto;
  width: 80vw;
}

.ant-table {
  color: #000;
}

.ant-table-tbody > tr > td {
  border-bottom-color: rgba(0, 0, 0, 0.09);
}

.task-status-saved > td {
  background-color: hsl(125, 39%, 94%);
}

.task-status-saved:hover > td {
  background-color: hsl(125, 39%, 96%) !important;
}

.task-status-failed > td {
  background-color: hsl(351, 100%, 96%);
}

.task-status-failed:hover > td {
  background-color: hsl(351, 100%, 97%) !important;
}

.task-tooltip {
  display: 'flex';
  align-items: 'center';
}

.task-status-archived > td {
  background-color: #eceff1;
  color: #8f9ba3;
}

.task-status-archived:hover > td {
  background-color: #e8ebee !important;
}

.action-button {
  margin-right: 0.5rem;
}

.ant-dropdown-menu-item {
  padding: 0.5rem 0.75rem;
}

.search {
  padding: 0.5rem 0 0.5rem 0.5rem;
}

.search__input {
  width: 11.75rem;
  margin-bottom: 0.5rem;
  display: block;
}

.search__button {
  width: 5.625rem;
  margin-right: 0.5rem;
}
